<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Face Detection Landing Page</title>
    <style>
        body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}
h1 {
    color: #333;
}
button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #23b313;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: #218838;
}
    </style>
    
</head>
<body>

    <h1>Face Detection with OpenCV</h1>
    <p style="font-size: 20px;">Click To show your Face</p>
    
    <button onclick="startDetection()">Detect</button>

    <script>
        function startDetection() {
            fetch('/start-detection')
                .then(response => response.text())
                .then(data => console.log(data))
                .catch(error => console.error('Error:', error));
        }
    </script>

</body>
</html>
